.about {
  //display: none;
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__message {
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: 3rem;
    font-weight: 400;

    &_gradient {
      color: transparent;
      background-clip: text;
      background-image: linear-gradient(#ff9d2f, #ff4400);;
    }
  }

  &__img {
    width: 300px;
    clip-path: circle(50% at 50% 50%);
  }
}

@media (width <= 767px) {
  .about {
    &__text {
      font-size: 1rem;
      line-height: 1.4rem;
    }

    &__img {
      width: 100px;
    }
  }
}