.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 41px clamp(45px, calc(45px + (177 - 45) * ((100vw - 1399px) / (1600 - 1399))), 177px) 60px;
}

@media (max-width: 1399px) {
  .wrapper {
    padding: 41px clamp(25px, calc(25px + (45 - 25) * ((100vw - 1299px) / (1600 - 1299))), 45px) 60px;
  }
}

@media (max-width: 991px) {
  .wrapper {
    width: 100%;
    padding: 5%;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 100%;
    padding: 20px;
  }
}
