@import './modules/variables';

footer {
  padding: 200px 0 60px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.navigation__icons_footer {
  gap: 20px;
}

.line {
  content: '';
  height: 3px;
  width: 100%;
  background-color: $font-color;
  margin-top: 42px;
}

.navigation__link_footer {
  font-family: $DM-Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: $font-color-bold;
  text-decoration: none;

  &:hover {
    display: inline-block;
    transition: transform 0.3s ease;
    transform: scale(1.1)
  }
}

.copyright {
  font-family: $Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: $font-color;
}

.gradient {
  color: $transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, rgba(114,103,211,1) 0%, rgba(230,16,171,1) 100%);
}

@media (max-width: 1599px) {
  footer {
    padding-top: 100px;
  }
}

@media (max-width: 1399px) {
  footer {
    padding: 200px 0 30px;
  }

  .wrapper {
    padding: 0 50px;
  }

  .navigation__links_footer {
    gap: 20px;
  }

  .navigation__link_footer {
    font-size: 1em;
  }

  .copyright {
    font-size: 1em;
  }
}

@media (max-width: 991px) {
  footer {
    padding: 300px 0 30px;

    &__top {
      padding-bottom: 30px;
    }

    .wrapper {
      padding: 0 15px;
    }
  }

  .footer__bottom {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 15px auto;
  }
  
  .navigation__links_footer {
    gap: 20px;
  }

  .navigation__link_footer {
    font-size: 0.8em;
  }

  .copyright {
    font-size: 0.8em;
  }
}

@media (max-width: 767px) {
  footer {
    padding: 70px 0 30px;
  }

  .wrapper {
    padding: 0 15px;
  }

  .footer__top {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }

  .navigation_footer {
    flex-direction: column;
    gap: 20px;
  }

  .navigation__links_footer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .navigation__icon, .navigation__icon_twitter {
    width: 30px;
  }

  .footer_bottom {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .navigation__links_footer {
    padding-top: 15px;
    margin: 0 auto;
    gap: 20px;
  }
  .navigation__icons_footer {
    margin: 0 auto;
  }

  .navigation__link_footer {
    font-size: 0.7em;
  }

  .copyright {
    font-size: 0.6em;
    padding-bottom: 15px;
  }
}