.footer {
  margin-top: 2rem;
  padding-bottom: 2rem;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 200%;
    //background-color: red;
    background-image: linear-gradient(#ff4400, $background3);
    right: 0;
    bottom: 0;
    z-index: -2;
    clip-path: polygon(50% 0%, 100% 75%, 100% 100%, 0 100%, 0 75%);
  }

  &:after {
    content: '';
    position: absolute;
    width: 35%;
    height: 200%;
    //background-color: red;
    background-image: linear-gradient(black, $background3);
    right: 15%;
    bottom: 0;
    z-index: -1;
    clip-path: polygon(50% 0%, 100% 75%, 100% 100%, 0 100%, 0 75%);
  }


  &__nav {
    margin-top: 2rem;
    display: flex;
  }

  &__logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: grey;
    transition: color 1s ease;

    &:hover {
      transition: color 1s ease;
      color: black;
    }
  }

  &__external-links {
    display: flex;
    gap: 4rem;
    margin-left: auto;
  }

  &__external-icon {
    width: 30px;
    transition: transform 0.3s ease;
    transform: scale(1);

    &:hover {
      transition: transform 0.3s ease;
      transform: scale(1.2)
    }
  }
}