@import './modules/variables';

.open {
  display: flex !important;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 220px;
}

.logo {
  width: 97px;
}

.navigation {
  display: flex;
  gap: 51px;

  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type:none;
    gap: 60px;
  }
  &__link {
  font-family: "DM Sans";
  text-decoration: none;
  color: var(--font-color);
  font-weight: 500;
  font-size: 20px;
  }  
  &__icons {
    margin-top: 4px;
    gap: 20px;
  }
  &__icon_twitter{
  margin-top: -1px;
  width: 30px;
  }
  &__link:hover, &__icon:hover, &__icon_twitter:hover  {
    display: inline-block;
    transition: transform 0.3s ease;
    transform: scale(1.1)
  }
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;

  span {
    height: 3px;
    width: 80%;
    border-radius: 10px;
    transform: scale(1);
    background: linear-gradient(90deg, rgba(19,176,245,1) 0%, rgba(202,36,180,1) 100%);
  }
  
  &::before, &::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(19,176,245,1) 0%, rgba(202,36,180,1) 100%);
    transition: all 0.3s ease 0s;
  }
  &::before {
    top: 0
  }
  &::after {
    bottom: 0
  }
  &.active span {
    transform: scale(0)
  }
  &.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
  }
  &.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
}

@media (max-width: 1399px) {
  header {
    margin-bottom: 150px;
  }
  .logo {
    width: 97px;
  }
  .navigation {
    gap: 30px;
    &__links {
      gap: 20px;
    }
    &__icons {
      margin-top: 2px;
      gap: 5px;
    }
    &__icon_twitter{
      margin-top: -1px;
      width: 30px;
    }
  }
}

@media (max-width: 992px) {
  header {
    margin-bottom: 100px;
  }

  .logo {
    width: 75px;
  }
  
  .navigation {
    gap: 30px;

    &__links {
      gap: 20px;
    }
    &__link {
      font-size: 18px;
    }
    &__icons {
      gap: 15px;
    }
  }
}

@media (max-width: 767px) {
  header {
    margin-bottom: 75px;
  }

  .logo {
    width: 50px;
  }
  .navigation {
    display: none;
  
    &__links {
      gap: 10px;
    }
    &__icons {
      margin-top: 2px;
      gap: 5px;
    }
    &__icon_twitter{
      margin-top: -1px;
      width: 30px;
    }
  }

  .burger {display: flex;}

  .navigation {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: $font-color-bold;

    &__link {
      color: $font-white;
    } 

    ul {
      margin: auto;
      flex-direction: column;
      row-gap: 30px;
    }
  }
}
