@mixin container($padding...) {
  max-width: 1600px;
  margin: 0 auto;
  
  $top: 0;
  $right: 0;
  $bottom: 0;
  $left: 0;

@if length($padding) == 1 {
  $top: nth($padding, 1);
  $right: $top;
  $bottom: $top;
  $left: $top;
} @else if length($padding) == 2 {
    $top: nth($padding, 1);
    $right: nth($padding, 2);
    $bottom: $top;
    $left: $right;
} @else if length($padding) == 3 {
    $top: nth($padding, 1);
    $right: nth($padding, 2);
    $bottom: nth($padding, 3);
    $left: $right;
} @else if length($padding) == 4 {
    $top: nth($padding, 1);
    $right: nth($padding, 2);
    $bottom: nth($padding, 3);
    $left: nth($padding, 4);
}
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}
