.projects {
  margin-top: 3rem;
  &__cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
}
.card {
  background-color: red;
  text-align: center;

 

  &__title {
    margin-top: 2rem;
  }

  &__description {
    margin-top: 1rem;
  }

  &__skills {
    margin-top: 1rem;
  }

  &__link {
    margin-top: 1rem;
  }
}