.projects {
  margin-top: 3rem;
  &__cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
}
.card {
  background-color: red;
  text-align: center;
  border-radius: 10px;

  &__img {
    //width: 100px;
    // border-top-left-radius: inherit;
    // border-top-right-radius: inherit;
    border-radius: 10px 10px 0 0;
    height: 300px;
    width: 100%;
    object-fit: none;
    object-position: left top;
  }
 
  &__specification {
    padding: 24px;
  }

  &__title {
    font-size: 1.6rem;
  }

  &__description {
    margin-top: 1rem;
    text-align: start;
    line-height: 1.5rem;
  }

  &__skills {
    margin-top: 1rem;
    text-align: start;
    font-size: 1rem;
    font-weight: 400;
  }

  &__link {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  &__icon-picture {
    width: 20px;
  }
}