.projects {
  padding-top: 214px;

  &__subtitle {
    padding-top: 50px;
  }

  &__cards {
    padding-top: 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 5%;
  }
}

.card {
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	-webkit-box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__specification {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: $Poppins;
    font-weight: 500;
    font-size: 28px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 17px;
  }

  &__description {
    font-family: $Poppins;
    color: $font-color;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    text-align: start;
    margin-bottom: 12px;
  }

  &__skills {
    font-family: $Poppins;
    color: $font-color-bold;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 21px;
  }

  &__links {
    width: 100%;
    display: flex;
  }

  &__link {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    height: 26px;
  }

  &__text-link {
    text-decoration: underline;
  }

  &__text-link:hover {
    display: inline-block;
    transition: transform 0.3s ease;
    transform: scale(1.1)
  }

  &__icon-picture{
    width: 20px;
  }
  
  &__text-link {
    font-family: "Poppins";
    color: $font-black;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
  }
}

@media (max-width: 1599px) {
  .projects__cards {
    padding: 5% 5%;
  }
}

@media (max-width: 1399px) {
  .projects {
    padding-top: 200px;
  }
}

@media (max-width: 1299px) {
  .projects__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991px) {
  .projects{
    padding-top: 120px;

    &__title {
     font-size: 2em;
    }

    &__subtitle {
      font-size: 1.5em;
    }
  }

  .projects__cards {
    gap: 5%
  }
}

@media (max-width: 767px) {
  .projects{
    &__title {
      font-size: 1.3em;
    }
    &__subtitle {
      font-size: 1em;
      padding-top: 20px;
    }
  }

  .projects__cards {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5vh;
  }

  .card {
    &__title {
      font-size: 22px;
    }

    &__description {
      font-size: 14px;
    }

    &__skills {
      font-size: 12px;
    }

    &__link {
      margin-right: 25px;
    }

    &__text-link {
      font-size: 12px;
    }
  }
}