@use './mixins.scss' as *;
@import './modules/variables';

.greeting {
  padding-top: 220px;

  &__container {
    @include container(0, 177px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 636px;
  }

  &__text {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 58px;
  line-height: 1.2em;
  color: $font-color-bold;;
  }

  &__text_gradient {
    color: $transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, rgba(19,176,245,1) 0%, rgba(202,36,180,1) 100%);
  }

  &__photo {
    width: 367px;
    height: 367px;
  }
}

@media (max-width: 1600px) {
  .greeting {
    padding-top: 200px;

    &__container {
      @include container(0, 100px);
    }
  }
}

@media (max-width: 1399px) {
 .greeting {
    &__text {
      font-size: 2.5em;
    }

    &__photo {
      width: 300px;
      height: 300px;
    }
 }
}

@media (max-width: 991px) {
  .greeting {
    padding-top: 120px;
    &__text {
      font-size: 2em;
      line-height: 1.2em;
    }

    &__photo {
      width: 200px;
      height: 200px;
    }
  }
}

@media (max-width: 767px) {
  .greeting {
    margin-top: 35px;

    &__container {
      @include container(0, 15px);
    }

    &__text {
      font-size: 1.5em;
      line-height: 1.2em;
    }

    &__photo {
      width: 150px;
      height: 150px;
    }
  }
  
}

@media (max-width: 448px) {
  .greeting {

    &__text {
      font-size: 1em;
      //line-height: 1.2em;
    }

    &__photo {
      width: 74px;
      height: 74px;
    }
  }
}
