.skills {
  margin-top: 3rem;
  //display: none;

  &__icons-container {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    align-items: center;
    //justify-items: center;

    &:nth-of-type(-n+4) {
      justify-items: start;
    }

    // &:nth-last-child(-n+4) {
    //   justify-items: end;
    // }
  }

  &__icon {
   width: 60%;
  }
}

.wrapper-hexahon {
  @include hexahon(160px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  //background-color: red;
  background-color: #462458;
  transition: background-color 1s ease;

  &:nth-last-of-type(-n+4) {
    justify-items: end;
  }
  
  &:hover {
    background-color: $color-black;
  }

  &::after {
    content: '';
    position:absolute;
    //background-image: linear-gradient(#ff9d2f, #ff4400);
    background-image: linear-gradient(#ff7f7f, #7f0000);
    @include hexahon(150px);
    z-index: -1;
  }
}

@media (orientation: portrait) {
  .skills {
    &__icons-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (width <= 420px) {
    .wrapper-hexahon {
      @include hexahon(100px);

      &:after {
        @include hexahon(95px);
      }
    }
  }
}

@media (orientation: landscape) {
  .skills {
    &__icons-container {
     grid-template-columns: repeat(4, minmax(150px, 1fr));
    }
  }

  @media (width <= 767px) {

    .skills {
      &__icons-container {
        grid-template-columns: repeat(4, minmax(120px, 1fr));
        gap: 1.4rem
      }
    }

    .wrapper-hexahon {
      @include hexahon(100px);

      &:after {
        @include hexahon(95px);
      }
    }
  }
}
