.skills {
  margin-top: 3rem;

  &__icons-container {
    padding-top: 2rem;
    display: grid;
    gap: 3rem;
    align-items: center;
    justify-items: center
  }

  &__icon {
   width: 60%;
   //z-index: -2;

   &-wrapper {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   &-hexagon {
    position: absolute;
    z-index: -1;
    width: 170px;
   }
  }
}

.wrapper-hexahon {
  @include hexahon(160px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: red;
  transition: background-color 1s ease;

  &:hover {
    background-color: black;
  }

  &::after {
    content: '';
    position:absolute;
    background-image: linear-gradient(#ff9d2f, #ff4400);
    @include hexahon(150px);
    z-index: -1;
  }
}

@media (orientation: portrait) {
  .skills {
    &__icons-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (width <= 575px) {
    .skills__title {
      color: yellow
    }
  }
}

@media (orientation: landscape) {
  .skills {
    &__icons-container {
     grid-template-columns: repeat(4, minmax(150px, 1fr));
    }
  }

  @media (width <= 575px) {
    .skills__title {
      color: blue
    }
  }
}
