$background3: #64347f;
$background2: #1D2532;
$background: #0D1117;
$background-burger: #293344;
$background-card: rgba(51, 62, 81, 0.7);
$color-white: #FFFFFF;
$color-black: #000000;
$color-hover: #C3F33B;
$color-active: rgba(195, 243, 59, 0.1);

$aspect-ratio-hexagon: 1.1547;


