//@import 'fonts';
@import 'modules/reset';
@import 'modules/variables';
@import 'modules/mixins';
@import 'modules/header';
@import 'modules/wrapper';
@import 'modules/about';
@import 'modules/navigation';
@import 'modules/skills';
@import 'modules/skill-card';
@import 'modules/projects';
@import 'modules/swiper';
@import 'modules/modal';
@import 'modules/footer';

// @media (orientation: portrait) {
//   @media (width <= 575px)  {
//     .title {
//       font-size: 1.2rem;
//     }
//   }
// }




html {
  scrollbar-gutter: stable;
}

body {
  //background-color: $background3;
  //background-color: #ffffc6;
  //background-color: #562fab;
  font-size: 16px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scrollbar-gutter: stable;
  cursor: pointer;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.blur {
  filter: blur(10px);
}

.title {
  font-size: 3rem;
  color: $background;
}

.scroll-block {
  overflow: hidden;
}



@media(width <= 1399px) {
  .container {
    padding: 0 2rem;
  }
}

@media(width <= 1199px) {
  .container {
    padding: 0 1.2rem;
  }
}

@media (width <= 768px)  {
  .container {
    padding: 0 1.2rem;
  }
  .title {
    font-size: 2rem;
  }
}
@media (width <= 575px)  {
  .title {
    font-size: 1.6rem;
  }
}






